*,
html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

#box1{
  display: flex;
  font-size: 5rem;
  align-content: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50rem;
  padding: 3.5rem ;

}
#box2{
  display: flex;
  font-size: 5rem;
  align-content: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50rem;
  padding: 3.5rem ;

}
#box3{
  display: flex;
  font-size: 5rem;
  align-content: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50rem;
  padding: 3.5rem ;
  margin-bottom: 2rem;
}

#submit{
  font-size: 8rem;
  display: flex;
  align-items: center;
  align-content: center;
}

.tempBox{
  display: flex;
  font-size: 5.5rem;
  width: 20vw;
  margin: 1rem;
  flex-direction: column;
  text-align: center  ;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  border: .2rem solid rgb(0, 0, 0);
  margin-left: 10rem;
  
}
.imgView{
  width: 25rem;
}
#tempBtn{
  width: 25rem;
}
#btn2{
  font-size: 8.5rem;
  width: 45rem;
}
